@charset "UTF-8";
#all {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between; }

#stars {
  position: fixed;
  top: 300px;
  right: 8px;
  z-index: 50;
  opacity: 0; }

#stars ul li {
  padding: 8px 30px;
  border: 1px solid #fff;
  margin-bottom: 10px;
  background:#f00;
  opacity: .5;
  color: #fff;
  cursor: pointer;
  border-radius: 5px; }

header {
  width: 100%;
  min-height: 85px;
  display: flex;
  flex-direction: column; }

header #header-top {
  display: flex;
  width: 100%;
  height: 1.765rem;
  padding-left: 30px;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
  background: #fff;
  box-sizing: border-box; }

header #header-top div.left {
  flex: 1;
  width: 100%;
  height: 100%;
  padding-left: 13px; }

header #header-top div.left p {
  line-height: 1.765rem;
  font-size: 12px;
  font-weight: bold; }

.right-all {
  padding-right: 10px; }

header #header-top ul.right {
  padding-right: 8px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center; }

header #header-top ul.right li {
  padding: 2px 1rem 2px;
  line-height: 1.625rem; }

header #header-top ul.right li a {
  display: block;
  font-size: 0.9375rem;
  font-weight: bold;
  font-size: 12px; }

header #header-top ul.right li:nth-child(1) p {
  font-size: .9375rem;
  display: inline-block;
  height: 1.625rem; }

header #header-top ul.right li:nth-child(1) span.cn {
  display: inline-block;
  height: 1.375rem;
  width: 1.375rem;
  margin-right: 0.625rem;
  background: url(../img/cn.svg) no-repeat;
  background-size: 100%;
  background-position: left 6px; }

header #header-top ul.right li:nth-child(1) {
  position: relative; }

header #header-top ul.right li:last-child a {
  display: flex; }

header #header-top ul.right li:last-child a .count {
  display: block;
  padding-left: 5px; }

header #header-top ul.right li:nth-child(1) ul.two-menu {
  position: absolute;
  z-index: 10;
  top: 27px;
  width: 328px;
  right: -200px;
  padding: 0 30px;
  background: #fff;
  margin: 0 24px;
  border: 1px solid #e4e4e4;
  border-top-color: transparent;
  padding-bottom: 20px;
  display: none; }

/*header #header-top ul.right li:nth-child(1):hover ul.two-menu{ /*transition:5s linear all;
	display: block;
}*/
header #header-top ul.right li:nth-child(1) ul.two-menu li.whree {
  font-weight: 500;
  font-size: 0.984rem;
  letter-spacing: 2px;
  color: #3f3f3f;
  padding-top: 36px; }

header #header-top ul.right li:nth-child(1) ul.two-menu li:nth-child(2) {
  font-size: 12px;
  color: #000;
  padding-bottom: 36px; }

header #header-top ul.right li:nth-child(1) ul.two-menu ul.world {
  display: flex;
  width: 100%; }

header #header-top ul.right li:nth-child(1) ul.two-menu ul.world li {
  width: 50%;
  display: flex; }

header #header-top ul.right li:nth-child(1) ul.two-menu ul.world li:nth-child(1) span {
  background: url(../img/cn.svg) no-repeat;
  background-size: 28px 28px;
  padding-right: 36px; }

header #header-top ul.right li:nth-child(1) ul.two-menu ul.world li:nth-child(1) a {
  font-size: 14px; }

header #header-top ul.right li:nth-child(1) ul.two-menu ul.world li:nth-child(2) span {
  background: url(../img/cn.svg) no-repeat;
  background-size: 28px 28px;
  padding-right: 36px; }

header #header-top ul.right li:nth-child(1) ul.two-menu ul.world li:nth-child(2) a {
  font-size: 14px; }

header #header-top ul.right li:nth-child(1) ul.two-menu a.seeAll {
  display: block;
  width: 330px;
  text-align: right;
  font-size: 14px;
  padding-bottom: 30px;
  border-bottom: 1px solid #000; }

header #header-mid {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #fff; }

header #header-mid #fashion-all {
  position: relative;
  flex: 1;
  padding-left: 40px; }

/*header #header-mid div:first-child{
    
    padding-left:4px;
   
}*/
header #header-mid #fashion-all #fashion-box {
  width: 150px;
  height: 117px;
  border: 1px solid #d8d7d2;
  position: absolute;
  top: 30px;
  left: 33px;
  display: none; }

header #header-mid #fashion-all #fashion-box #fashion {
  width: 134px;
  height: 117px;
  position: absolute;
  top: -120px;
  transition: all 2s;
  opacity: 0;
  padding-left: 8px;
  background: #fff;
  z-index: 3;
  padding-right: 8px; }

header #header-mid #fashion-all #fashion-box #fashion li {
  line-height: 27px; }

header #header-mid #fashion-all #fashion-box #fashion li a {
  font-size: 12px; }

#fashion-all #fashion-one:hover ul#fashion {
  /*opacity:1;*/
  display: block;
  top: 0; }

#fashion-all:hover #fashion-box {
  display: block; }

header #header-mid div:first-child a {
  font-size: 14px; }

header #header-mid div:first-child a i {
  padding-left: 8px; }

header #header-mid h1 {
  width: 33.3%;
  margin: 0 auto; }

header #header-mid h1 img {
  margin: 0 auto;
  width: 150px;
  height: 45px; }

header #header-mid #search1 {
  flex: 1; }

header #header-mid #search1 form {
  padding-top: 10px;
  height: 35px;
  margin: 0 20px;
  display: flex;
  position: relative;
  justify-content: flex-end; }

header #header-mid #search1 form a {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 11;
  font-size: 22px;
  display: none; }

header #header-mid #search1 form input {
  padding-right: 8px;
  height: 32px;
  width: 120px;
  border: 0;
  outline: none;
  padding-left: 25px;
  background: url(../img/icon-search.svg) no-repeat left center;
  border-bottom: 1px solid #000;
  transition: all .5s linear; }

header #header-down {
  display: flex;
  height: 36px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  background: #fff; }

header #header-down li {
  padding: 0 12px; }

header #header-down li a {
  font-size: 14px; }

#header-down li.new {
  position: relative; }

header #header-down li.new #header-down-two-box {
  width: 150px;
  position: absolute;
  top: 27px;
  opacity: 0;
  left: 1px;
  z-index: 90;
  transition: all 1s ease-in-out; }

#header-down-two {
  position: absolute;
  top: -280px;
  background: #fff;
  left: 1px;
  display: none;
  z-index: 1;
  transition: all .3s linear; }

#header-down-two li {
  line-height: 27px; }

#header-down #header-down-two-box #header-down-two li a {
  font-size: 12px;
  padding-bottom: 10px; }

#header-down li.dazhe a {
  color: red; }

#header-down li.dazhe #header-down-two-box #header-down-two li a {
  color: #616161; }

#nav-Twomenu {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-300px);
  z-index: 100;
  transition: all 1s; }

#nav-Twomenu .nav-Twomenu-top {
  display: flex;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  background: #fff; }

#nav-Twomenu .nav-Twomenu-top div a {
  font-size: 12px; }

#nav-Twomenu .nav-Twomenu-top div:nth-child(1) {
  padding: 14px 14px 8px 8px;
  background: #fff;
  border-right: 1px solid #adadad; }

#nav-Twomenu .nav-Twomenu-top div:nth-child(1) a {
  display: block;
  height: 40px;
  width: 40px;
  background: url(../img/cn.svg) no-repeat;
  background-size: 100%; }

#nav-Twomenu .nav-Twomenu-top div:nth-child(2) {
  padding: 18px 10px 16px 10px;
  border-right: 1px solid #adadad; }

#nav-Twomenu .nav-Twomenu-top div:nth-child(3) {
  padding: 18px 10px 16px 15px;
  border-right: 1px solid #adadad; }

#nav-Twomenu .nav-Twomenu-top div:nth-child(3) a {
  font-weight: bold; }

#nav-Twomenu .nav-Twomenu-top div:nth-child(4) {
  padding-left: 70px;
  padding-top: 10px; }

#nav-Twomenu .nav-Twomenu-top div:nth-child(4) a {
  font-size: 30px;
  font-weight: 100; }

#nav-Twomenu .nav-Twomenu-down {
  width: 300px;
  background: red;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 800px; }

#nav-Twomenu .nav-Twomenu-down #shopping {
  width: 300px;
  background: #fcfbfb; }

#nav-Twomenu .nav-Twomenu-down #shopping h2 a {
  font-size: 17px;
  font-weight: 800;
  color: #3f3f3f;
  padding: 10px 0 7px 14px; }

#nav-Twomenu .nav-Twomenu-down #shopping h2 a:hover {
  color: #3f3f3f; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .one {
  background: #fff;
  padding: 14px 0 10px 28px;
  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
  align-items: center; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .one a {
  letter-spacing: 1.4px;
  font-weight: 800;
  font-size: 14px;
  color: #3f3f3f; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .one a:hover {
  color: #000; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .one span {
  display: block;
  padding-right: 20px;
  width: 34px;
  height: 34px;
  background: url(../img/dd-caret.svg) no-repeat right center;
  background-position: 10px 10px; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .sort-two {
  width: 300px;
  display: none; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .sort-two li {
  border-radius: 2px;
  width: 100%;
  line-height: 30px; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .sort-two li:hover {
  background: #ADADAD; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .sort-two li a {
  font-size: 14px;
  width: 100%;
  color: #3f3f3f;
  width: 248px;
  padding: 14px 0 10px 52px;
  font-weight: 500; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .sort-two li.three {
  display: flex; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .sort-two li.three span {
  display: block;
  padding-right: 20px;
  width: 34px;
  height: 34px;
  background: url(../img/dd-caret.svg) no-repeat right center;
  background-position: 10px 20px; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .sort-two ul.sort-three {
  width: 300px;
  display: none; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .sort-two ul.sort-three li {
  border-radius: 2px;
  width: 100%; }

#nav-Twomenu .nav-Twomenu-down #shopping .sort .sort-two ul.sort-three li a {
  padding: 10px 21px 7px 68px;
  width: 211px; }

#waper {
  padding: 0 8px;
  display: flex;
  flex-direction: column; }

main {
  width: 100%; }

main #choice img {
  width: 100%;
  height: 100%; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-container img {
  width: 100%;
  height: 100%; }

footer {
  z-index: 5;
  background: #fdfaf3;
  border-top: 1px solid #9f9f9f;
  position: relative; }

#email-footer {
  width: 100%;
  padding-bottom: 38px;
  display: flex;
  padding-top: 10px;
  justify-content: space-between; }

#email-footer-left {
  height: auto;
  width: 50%; }

#email-footer-left p {
  text-align: right; }

#email-footer-left p:nth-child(1) {
  font-size: 24px;
  line-height: 30px;
  margin: 8px 0 5px;
  font-weight: lighter;
  font-style: italic;
  color: #3f3f3f;
  box-sizing: border-box; }

#email-footer-left p:nth-child(2) {
  font-size: 12px;
  line-height: 20px; }

#email-footer-left p:nth-child(2) a {
  font-size: 12px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  border-radius: 50%;
  background: #3f3f3f; }

#form1 {
  flex: 1; }

#form1 form {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0 0 50px; }

#form1 form input:nth-child(1) {
  border: solid 1px #adadad;
  padding: 4px 12px;
  height: 20px;
  font-size: 12px;
  outline: none;
  width: 50%;
  margin-bottom: 5px; }

#form1 form input:nth-child(2) {
  border: solid 1px #adadad;
  background: #fdfaf3;
  height: 30px;
  padding: 0 20px;
  font-size: 12px; }

#mid-footer {
  width: 100%;
  display: flex;
  padding: 16px 0; }

#mid-footer-left {
  width: 25%;
  box-sizing: border-box;
  padding: 0 0 0 10px; }

#mid-footer-left ul {
  border: 1px solid #000000;
  padding: 16px 0 16px 32px;
  margin: 0 32px 0 0; }

#mid-footer-left ul li {
  line-height: 30px; }

#mid-footer-left ul li a {
  box-sizing: border-box;
  font-size: 12px; }

#mid-footer-left ul li:last-child {
  display: none; }

#mid-footer-center {
  width: 50%;
  display: flex; }

#mid-footer-center ul {
  width: 100%;
  padding: 0 0px; }

#mid-footer-center ul li {
  line-height: 20px;
  padding-bottom: 8px;
  width: 100%; }

#mid-footer-center ul li a {
  font-size: 12px;
  text-align: center; }

#mid-footer-center ul:first-child {
  margin-left: 8%; }

#mid-footer-center ul li:first-child {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 8px; }

#mid-footer-right {
  width: 25%; }

#mid-footer #mid-footer-right dl dt a {
  display: block;
  height: 160px;
  margin: 0 auto; }

#mid-footer #mid-footer-right dl dt a img {
  height: 160px;
  width: 120px;
  margin: 0 auto; }

#mid-footer #mid-footer-right dl dd {
  margin-top: 5px; }

#mid-footer #mid-footer-right dl dd a {
  font-size: 14px;
  text-align: center;
  display: block; }

#word-footer {
  color: #7e7e7e;
  padding: 0 3%;
  padding-top: 8px; }

#word-footer p {
  /*text-align: center;*/
  color: #7e7e7e;
  font-size: 12px;
  line-height: 20px; }

#contant {
  width: 100%;
  height: 36px;
  padding-top: 35px; }

#contant:hover a {
  background: #3f3f3f;
  border: 1px solid #3f3f3f;
  color: #fff; }

#contant a {
  display: block;
  width: 104px;
  height: 36px;
  margin: 0 auto;
  line-height: 36px;
  text-align: center;
  border: 1px solid #3f3f3f;
  font-size: 12px;
  transition: all .3s linear; }

#logo-footer {
  width: 100%;
  display: flex;
  flex-direction: column; }

#logo-wei {
  display: flex;
  width: 100%; }

#logo-all {
  width: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 220px; }

#logo-footer #logo-all a {
  margin: 8px 16px 24px;
  display: block; }

#logo-footer #logo-all a:nth-child(1) {
  background: url(../img/social-china-blog-grey.png) no-repeat;
  width: 39px;
  height: 39px; }

#logo-footer #logo-all a:nth-child(2) {
  background: url(../img/social-douban-grey.png) no-repeat;
  width: 97px;
  height: 37px; }

#logo-footer #logo-all a:nth-child(3) {
  background: url(../img/social-weibo-grey.png) no-repeat;
  width: 104px;
  height: 38px; }

#logo-footer #logo-all a:nth-child(4) {
  background: url(../img/social-youku-grey.png) no-repeat;
  width: 96px;
  height: 31px; }

#wei-footer {
  width: 24%; }

#wei-footer img {
  width: auto;
  margin: 0 auto; }

#end-footer {
  width: 100%; }

#end-footer p {
  display: flex;
  justify-content: center; }

#end-footer p a {
  text-align: center; }

#end-footer span {
  padding: 0 5px; }

#end-footer em {
  font-style: normal;
  font-size: 14px;
  padding: 3px 0 0 32px; }

#img-left {
  background: url(../img/main-footer-left-bg_080717.jpg) no-repeat;
  width: 234px;
  height: 480px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -2; }

#img-right {
  background: url(../img/main-footer-right-bg_080717.jpg) no-repeat;
  width: 234px;
  height: 480px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2; }

/*媒体查询*/
@media screen and (max-width: 450px) {
  #logo-all {
    width: 100%; }

  #logoin {
    width: 100%;
    background: #fff;
    margin: 0 auto 0;
    padding: 32px 16px 27px; } }
/*@media only screen and (min-width:896px){
	#pro-placeholder {
     height: 200px; 
     }
     header #header-top{
		min-width:56rem;
		width:100%;
	}
}*/
@media only screen and (max-width: 823px) {
  #form1 form {
    display: flex;
    flex-direction: column; } }
@media screen and (min-width: 645px) {
  #new-arrivals {
    display: flex;
    padding-bottom: 20%;
    flex-direction: column; }

  #new-arrivals a.new-logo img {
    width: 100%; }

  #new-arrivals .new-pro {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px; }

  #new-arrivals .new-pro a {
    box-sizing: border-box;
    width: 25%;
    padding: 0 8px; }

  #new-arrivals .new-pro a img {
    width: 100%;
    height: 100%;
    transform: scale(0.99);
    transition: all 1s; }

  #new-arrivals .new-pro a:hover img {
    transform: scale(0.89); }

  #new-arrivals .two {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 8px; }

  #new-arrivals .two a {
    width: 50%;
    box-sizing: border-box;
    padding: 0 5px; }

  #new-arrivals .two a img {
    width: 100%;
    height: 100%; }

  #new-arrivals .new-sort2 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 8px; }

  #new-arrivals .new-sort2 a {
    width: 33.3%;
    box-sizing: border-box;
    padding: 0 8px; }

  #new-arrivals .new-sort2 a img {
    width: 100%;
    height: 100%; }

  #new-arrivals .new-sort2 a:nth-child(2) img {
    margin: 0 auto; }

  #new-arrivals #new-sort4 {
    display: flex;
    justify-content: space-between;
    padding: 0 8px; }

  #new-arrivals #new-sort4 a {
    width: 100%;
    padding: 0 8px; }

  #new-arrivals #new-sort4 a img {
    width: 100%;
    height: 100%; } }
@media screen and (max-width: 645px) {
  #new-arrivals {
    padding-bottom: 20%;
    display: flex;
    flex-direction: column; }

  #new-arrivals a.new-logo img {
    width: 100%; }

  #new-arrivals .new-pro {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px; }

  #new-arrivals .new-pro a {
    box-sizing: border-box;
    width: 50%;
    padding: 0 8px; }

  #new-arrivals .new-pro a:nth-child(1) {
    padding-bottom: 10px; }

  #new-arrivals .new-pro a:nth-child(2) {
    padding-bottom: 10px; }

  #new-arrivals .new-pro a img {
    width: 100%;
    height: 100%; }

  #new-arrivals .two {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 8px; }

  #new-arrivals .two a {
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    padding-bottom: 10px; }

  #new-arrivals .two a img {
    width: 100%;
    height: 100%; }

  #new-arrivals .new-sort2 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 8px; }

  #new-arrivals .new-sort2 a {
    width: 100%;
    box-sizing: border-box;
    padding: 0 8px; }

  #new-arrivals .new-sort2 a img {
    width: 100%;
    height: 100%; }

  #new-arrivals .new-sort2 a:nth-child(2) img {
    margin: 0 auto; }

  #new-arrivals #new-sort4 {
    display: flex;
    justify-content: space-between;
    padding: 0 8px; }

  #new-arrivals #new-sort4 a {
    width: 100%;
    padding: 0 8px; }

  #new-arrivals #new-sort4 a img {
    width: 100%;
    height: 100%; }

  #email-footer {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px; }

  #email-footer-left {
    width: 98%;
    padding: 0 30px 0 0; }

  #form1 form {
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 0 0; }

  #form1 form input {
    margin-left: 5px; }

  #form1 form input:first-child {
    width: 60% !important; }

  #mid-footer {
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #000; }

  #mid-footer-left ul li:last-child {
    display: block; }

  #mid-footer-left ul:first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 0;
    padding: 0;
    border-bottom: 1px solid #000; }

  #mid-footer-left {
    width: 100% !important;
    padding: 0; }

  #mid-footer-left ul li {
    width: 50%;
    padding: 16px 0 16px 16px;
    box-sizing: border-box;
    border: 1px solid #fff;
    background: #edf4f9; }

  #mid-footer-left ul li a {
    box-sizing: border-box;
    font-size: 12px; }

  #mid-footer-center {
    width: 100% !important;
    padding: 16px 0;
    justify-content: center;
    flex-direction: column;
    align-items: center; }

  #mid-footer-center ul {
    width: 100%; }

  #mid-footer-center ul li {
    text-align: center; }

  #mid-footer-center ul:first-child {
    margin-left: 0; }

  #require-help, #see, #find {
    display: none; }

  #first, #second, #third {
    padding: 12px 0;
    margin-bottom: 8px;
    font-size: 18px !important; }

  #require-help li:first-child {
    margin-bottom: 0px !important; }

  #first::after, #second::after, #third::after {
    content: '';
    background: url(../img/dd-caret.svg) no-repeat right center;
    height: 6px;
    width: 12px;
    display: inline-block;
    position: relative;
    left: 20px;
    top: -3px; }

  #mid-footer-right {
    display: block !important;
    width: 100% !important; }

  #mid-footer-right dt {
    display: none; }

  #mid-footer-right dd {
    padding: 12px 0;
    margin-bottom: 8px;
    margin-top: 0 !important; }

  #mid-footer-right dd a {
    display: block;
    font-size: 16px !important; }

  #logo-all {
    display: flex;
    flex-wrap: wrap; }

  #logo-all a {
    display: block;
    width: 50%; }

  #end-footer p {
    flex-wrap: wrap; }

  #end-footer p a {
    /*display: block;*/ } }
@media screen and (max-width: 1022px) {
  header #header-top {
    padding-left: 0; }

  header #header-top div.left {
    padding-left: 0; }

  header #tip {
    width: 33.3%;
    padding-left: 8px; }

  header #header-top div.right-all {
    display: none; }

  header #header-top div.left p {
    /*margin:0 auto;*/
    text-align: center;
    font-size: 12px;
    font-weight: bold; }

  header #nav {
    display: none; }

  header #header-mid {
    height: 46px;
    padding: 0 0;
    position: relative;
    /*padding:5px 0;*/
    border-bottom: 1px solid #adadad; }

  header #header-mid h1 a img {
    height: 32px;
    width: 112px; }

  header #header-mid #fashion-all {
    display: none !important; }

  header #header-mid #search1 {
    display: none; }

  header #header-mid #search2 {
    display: block;
    width: 33.3%; }

  header #header-mid #search2 form {
    position: relative;
    margin: 0 20px;
    display: flex;
    justify-content: flex-end; }

  header #header-mid #search2 form input {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid #000000;
    outline: none;
    background: url(../img/icon-search.svg) no-repeat center;
    background-position: 1px 2px;
    margin-right: 10px;
    transition: all 0.05s; }

  header #header-mid #search2 form i {
    padding: 4px 0 4px 0; }

  #logo-all {
    background: none; }

  #mid-footer-right {
    display: none; }

  #mid-footer-left {
    width: 33.3%; }

  #mid-footer-center {
    width: 66.6%; }

  #wei-footer {
    display: none; }

  #logo-all {
    width: 100%;
    padding-left: 0;
    padding: 32px 0 0px; }

  #form1 form input:nth-child(2) {
    width: 25% !important; }

  #img-right {
    background: none; } }
@media only screen and (min-width: 1022px) and (max-width: 640px) {
  #logo-all {
    background: none; }

  #mid-footer-right {
    display: none; }

  #mid-footer-left {
    width: 33.3%; }

  #mid-footer-center {
    width: 66.6%; }

  #wei-footer {
    display: none; }

  #logo-all {
    width: 100%;
    padding-left: 0;
    padding: 32px 0 0px; } }
@media screen and (min-width: 1022px) {
  header #header-mid div#search1 {
    display: block; }

  header #header-mid div#search2 {
    display: none; }

  header #tip {
    display: none !important; } }

/*# sourceMappingURL=index.css.map */
